<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=WinFramework;Uid=root;Pwd=;" />
    <!-- <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="WwV5ShDTeDle7BtAVDMEREnrtfWuUnjGfkcoXeMrpYpPJTFcoBXEzB2rB33244433322P8YkDIFrXQyy+zxm60Wccv2342334222xX/Mk+w5wfsEybdcKyP1/yOnMs6xNI7nPCYesv3o9tOCGDrmY08WQwGmdWflO" /> -->
    <!-- <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=127.0.0.1,1433;User ID=sa;Password=123456;Initial Catalog=WinFramework;" /> -->
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WinFramework;Integrated Security=SSPI" />
    <!--路径符号|DataDirectory|代表当前运行目录-->
    <add name="access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WinFramework.mdb;User ID=Admin;Jet OLEDB:Database Password=;" />
    <add name="sqlite" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\WinFramework.db;Version=3;" />
    <add name="oracle" providerName="System.Data.OracleClient" connectionString="Data Source=bhdb;User ID=bhgl;Password=bhgl" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="sqlserver">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <!--软件名称-->
    <add key="ApplicationName" value="无马仓库管理系统" />
    <!--开发商名称-->
    <add key="Manufacturer" value="步兵软件科技发展有限公司" />
    <!--授权使用单位-->
    <add key="CertificatedCompany" value="步兵软件科技发展有限公司" />
    <!--软件介绍（关于对话框）-->
    <add key="Description" value="无马仓库管理系统，好用的备件仓库管理系统。具有备件信息管理、备件入库、备件出库、库存查询、库房管理、业务报表等功能，是一款优秀易用的仓库管理软件。" />
    <!--程序启动界面图片（不设置采用默认,建议图片宽高比2:1）-->
    <add key="SplashScreen" value="Images\startScreen.png" />
    <!--组件的数据库类型：access、sqlserver、sqlite、oracle等，默认为sqlserver可不写-->
    <add key="ComponentDbType" value="sqlserver" />
    <!--是否自动更新-->
    <add key="AutoUpdate" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- 服务器升级路径 -->
    <!--<add key="ServiceLogPath" value="d:\MedicalCrmServiceLog"/>-->
    <!-- 定时执行任务，为false为不执行，为true执行 -->
    <add key="AutoRunTask" value="false" />
    <add key="debug" value="true" />
    <add key="db" value="Framework.DomainBase.DB, Framework.DomainBase" />
    <!-- 服务端地址 -->
    <add key="ip" value="127.0.0.1" />
    <!-- 服务连接端口 -->
    <add key="port" value="11260" />
    <!-- 以SOAP协议访问服务器 -->
    <!--<add key="channel" value="http"/>-->
    <add key="channel" value="tcp" />
    <!-- 客户端升级路径 -->
    <add key="ClientUpgradePath" value="d:\ClientUpgradePath" />
    <!-- 后端调用方式 soap,sql,wcf,api CallerFactory中使用-->
    <add key="CallerType" value="soap" />
    <!-- 指定代理类型 RPC中使用-->
    <add key="ProxyType" value="RemotingProxy" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>