<?xml version="1.0" encoding="utf-8"?>
<applicationUpdater applicationId="c60ed4af-74bf-40db-b444-736c0832a3d7" 
                    manifestUri="http://localhost/bubing/Client/BB.WareHouseMis.DxUI.xml" 
                    version="2.0.0" 
                    title="无马仓库管理系统-版本更新">
</applicationUpdater>