<?xml version="1.0" encoding="utf-8"?><applicationUpdater applicationId="f67be974-181f-4291-94e6-b16a7e6d6a2e"                        manifestUri="http://localhost/parking/Client/manifests.xml"                        version="1.04"                        title="测试软件-版本更新"></applicationUpdater>