using BB.Core.DbContext;
using BB.Core.Services.Base;
using BB.Entity.${NameSpace};
using BB.Tools.Entity;
using BB.Tools.Extension;
using FluentValidation;

namespace BB.Application.${NameSpace};

/// <summary>
#if(${ChildDisplay})
/// ${ChildDisplay} 业务逻辑类
#else
/// ${ChildName} 业务逻辑类
#end
/// </summary>
[ApiDescriptionSettings("初始区域")]
public class ${ChildName}Service : BaseService<${ChildName}>, IDynamicApiController, ITransient
{
    public ${ChildName}Service(BaseRepository<${ChildName}> repository, IValidator<${ChildName}> validator) : base(repository, validator)
    {
    }

    /// <summary>
    /// 实体动态默认值
    /// </summary>
    /// <returns></returns>
    public override Task<${ChildName}> SetDynamicDefaults(${ChildName} entity)
    {
        return Task.FromResult(entity);
    }
##     /// <summary>
##     /// 初始化实体并附加默认值
##     /// </summary>
##     /// <returns></returns>
##     public override async Task<${ChildName}> NewEntityAsync()
##     {
##         ${ChildName} entity = await base.NewEntityAsync();
## #foreach($EntityField in $ChildMetadataImports)
## #if(${EntityField.Defaults} && ${EntityField.Defaults} != "")
##         entity.${EntityField.CSharpFieldName} = ${EntityField.Defaults};
## #end
## #end
##         return entity;
##     }

    /// <summary>
    /// 获取字段显示权限，0可读写 1只读 2隐藏值 3不显示 4 可新增不可编辑
    /// </summary>
    /// <returns></returns>
    public override async Task<Dictionary<string, int>> GetPermitDictAsync()
    {
        var permitDict = new Dictionary<string, int>
        {
#foreach($ColumnInfo in ${ChildMetadataImports})
#if(!$ColumnInfo.IsVisible || (!$ColumnInfo.IsAdd && !$ColumnInfo.IsEdit))
            { nameof(${ChildName}.${ColumnInfo.CSharpFieldName}), 3 },
#elseif($ColumnInfo.IsReadonly)
            { nameof(${ChildName}.${ColumnInfo.CSharpFieldName}), 1 },
#elseif($ColumnInfo.IsAdd && (!$ColumnInfo.IsEdit || $ColumnInfo.IsKey))
#if($ColumnInfo.IsKey)
            // 主键不为空则只读
#end
            { nameof(${ChildName}.${ColumnInfo.CSharpFieldName}), 4 },
## #elseif($ColumnInfo.IsAdd && $ColumnInfo.IsEdit)
##             { ${ChildName}.Field${ColumnInfo.CSharpFieldName}, 0 },
#end
#end
        };
        // 后端权限控制
        // var permitDict = BllFactory<FieldPermit>.Instance.GetColumnsPermit(typeof(Test1Car).FullName, LoginUserInfo.ID.ToInt32());
        return await Task.FromResult(permitDict);
    }

    /// <summary>
    /// 新增一条数据
    /// </summary>
    /// <param name="obj">指定的对象</param>
    /// <returns>执行操作是否成功。</returns>
    public override async Task<bool> InsertAsync(${ChildName} obj)
    {
        #region 新增前

        #endregion

        bool succeed = await base.InsertAsync(obj);

        #region 新增后

        if (!succeed) return false;

        //可添加其他关联操作

        return true;

        #endregion
    }

    /// <summary>
    /// 更新一条数据
    /// </summary>
    /// <param name="obj">指定的对象</param>
    /// <returns>执行成功返回<c>true</c>，否则为<c>false</c>。</returns>
    public override async Task<bool> UpdateAsync(${ChildName} obj)
    {
        #region 修改前

        #endregion

        bool succeed = await base.UpdateAsync(obj);

        #region 修改后

        if (!succeed) return false;

        //可添加其他关联操作

        return true;

        #endregion
    }

    /// <summary>
    /// 删除一条数据
    /// </summary>
    /// <param name="key">指定对象的ID</param>
    /// <returns>执行成功返回<c>true</c>，否则为<c>false</c>。</returns>
    public override async Task<bool> DeleteAsync(object key)
    {
        #region 删除前

        #endregion

        bool succeed = await base.DeleteAsync(key);
        if (!succeed) return false;

        #region 删除后

        //可添加其他关联操作

        #endregion

        return true;
    }

    /// <summary>
    /// 获取查询参数配置
    /// </summary>
    /// <returns></returns>
    public override List<FieldConditionType> GetConditionTypes()
    {
        return Cache.GetOrAdd($"{nameof(${ChildName})}ConditionTypes",
            _ => new List<FieldConditionType>
            {
#foreach($ColumnInfo in ${ChildMetadataImports})
#if($ColumnInfo.IsSearch || $ColumnInfo.IsAdvSearch)
#if($ColumnInfo.ControlType=="ComboBoxEdit")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Equal),
#elseif($ColumnInfo.ControlType=="SearchLookUpEdit" || $ColumnInfo.ControlType=="LookUpEdit" || $ColumnInfo.ControlType=="TreeListLookUpEdit")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Equal),
#elseif($ColumnInfo.ControlType=="SpinEdit")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Between),
#elseif($ColumnInfo.ControlType=="DateEdit")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Between),
#elseif($ColumnInfo.ControlType=="ToggleSwitch")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Equal),
#elseif($ColumnInfo.ControlType=="CheckEdit")
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Equal),
#else
                new(${ChildName}.Field${ColumnInfo.CSharpFieldName}, SqlOperator.Like),
#end
#end
#end
            });
    }

    /// <summary>
    /// 构造查询条件
    /// </summary>
    /// <param name="searchInfos">查询参数</param>
    /// <returns></returns>
    public override async Task<List<IConditionalModel>> GetConditionExc(Dictionary<string, string> searchInfos)
    {
        var condition = await base.GetConditionExc(searchInfos);
#foreach($ColumnInfo in ${ChildMetadataImports})
#if($ColumnInfo.IsSearch || $ColumnInfo.IsAdvSearch)
#if($ColumnInfo.CSharpFieldName.indexOf("AreaNo") != -1 || $ColumnInfo.CSharpFieldName.indexOf("AreaId") != -1)
        bool ${ColumnInfo.CSharpFieldName}Length =
            !searchInfos[${ChildName}.Field${ColumnInfo.CSharpFieldName}].IsNullOrEmpty() && searchInfos[${ChildName}.Field${ColumnInfo.CSharpFieldName}].Length < 6;
        if (${ColumnInfo.CSharpFieldName}Length)
        {
            condition.ForEach(x =>
            {
                if (x is ConditionalModel { FieldName: ${ChildName}.Field${ColumnInfo.CSharpFieldName} } c)
                {
                    c.ConditionalType = ConditionalType.LikeLeft;
                }
            });
        }
        todo 手动优化代码
#end
#end
#end

        return condition;
    }
}