using BB.Entity${NameSpace};
using BB.Tools.Entity;
using BB.Tools.Validation;
using FluentValidation;

namespace BB.EntityVerification.${NameSpace};

/// <summary>
#if(${ChildDisplay})
/// ${ChildDisplay} 验证类
#else
/// ${ChildName} 验证类
#end
/// </summary>
public class ${ChildName}Validator : AbstractValidator<${ChildName}>
{
    /// <summary>
    /// 无参构造函数
    /// </summary>
    public ${ChildName}Validator() : this(OperationType.View)
    {
    }

    /// <summary>
    /// 验证规则构造函数
    /// </summary>
    /// <param name="operationType">当前操作类型</param>
    public ${ChildName}Validator(OperationType operationType = OperationType.View)
    {
        #region 实体通用验证

#foreach($FieldInfo in ${ChildMetadataImports})
#set($primaryKey = "")
#if($FieldInfo.IsKey)
#set($primaryKey = ${FieldInfo.CSharpFieldName})
#end
## 参数值合法性验证
#set($checkNull = "")
#set($checkLong = "")
## ↓准备长度或空值
## ↓如果查长度
#if($FieldInfo.IsCheckLong)
#set($checkLong = ", ${FieldInfo.CSharpFieldLong}")
#end
## ↓如果查空
#if($FieldInfo.IsCheckNull)
#set($checkNull = "true")
#end
## ↓如果不查空只查长度
#if(!$FieldInfo.IsCheckNull && $FieldInfo.IsCheckLong)
#set($checkNull = "false")
#end
## ↑end 准备长度或空值
## ↓是否有验证规则
#if(${FieldInfo.Validation} && ${FieldInfo.Validation} != "")
#if(${EntityProperty.CSharpFieldDes} != "")
        // ${FieldInfo.CSharpFieldDes}
#end
        RuleFor(x => x.${FieldInfo.CSharpFieldName}).Is${FieldInfo.Validation}(${checkNull}${checkLong}).IsGo();
#else
## ↓没有验证规则
## ↓但有 查空或查长度
#if($checkNull != "")
#if(${EntityProperty.CSharpFieldDes} != "")
        // ${FieldInfo.CSharpFieldDes}
#end
#if(!$FieldInfo.IsCheckLong)
#if($FieldInfo.IsCheckNull)
#if($FieldInfo.CSharpFieldLong > 0 && $FieldInfo.CSharpFieldType != "bool")
        RuleFor(x => x.${FieldInfo.CSharpFieldName}).IsEmpty(${FieldInfo.CSharpFieldLong}).IsGo();
#else
        RuleFor(x => x.${FieldInfo.CSharpFieldName}).IsEmpty().IsGo();
#end
#end
#else
#if($FieldInfo.CSharpFieldLong > 0 && $FieldInfo.CSharpFieldType != "bool")
        RuleFor(x => x.${FieldInfo.CSharpFieldName}).IsLength(${checkNull}${checkLong}).IsGo();
#end
#end
#end
## ↑end 查空或查长度
#end
## ↑end 是否有验证规则
#end

        #endregion
    }
}